<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
      <add name="Demox" connectionString="Data Source=eight.labranet.jamk.fi;Initial Catalog=DemoxOy;Persist Security Info=True;User ID=koodari;Password=koodari13"
      providerName="System.Data.SqlClient" />
    <add name="Ilmot" 
         connectionString="Data Source=eight.labranet.jamk.fi;Initial Catalog=DemoxOy;Persist Security Info=True;User ID=koodari;Password=koodari13"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>

    <authentication mode="Forms">
      <forms loginUrl="H4113_T3a_login.aspx" defaultUrl="H4113_T3a_default.aspx" name=".ASPXFORMSAUTH"></forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>

    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="users_path" value="App_Data/users.xml"/>
    <add key="exercises_path" value="App_Data/exercises.xml"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>